@inject NavigationManager navigation;

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>Você não está autorizado a acessar esta página.</p>
                    <button @onclick="RedirectToLogin">Ir para o Login</button>
                </NotAuthorized>
                <Authorizing>
                    <p>Verificando autorização...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Desculpe, não há nada neste endereço.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private void RedirectToLogin()
    {
        navigation.NavigateTo("/login");
    }
}